{{!--
  One table with header, and body with widths but no height
  One table with footer, and body with widths but no height
  One table with body, and header with widths but no height
--}}
<table class={{tableClassNames}}>
  {{lt-head
    tableId=elementId
    table=table
    tableActions=tableActions
    tableClassNames=tableClassNames
    sharedOptions=sharedOptions
    renderInPlace=true
  }}
  {{!--
  <tbody class="lt-body">
  <tr class="lt-scaffolding-row">
    {{#each table.visibleColumns as |column|}}
      <td style="{{html-safe (if column.width (concat 'width: ' column.width))}}; height:0" class="lt-scaffolding"></td>
    {{/each}}
  </tr>
  </tbody> --}}
</table>




{{!-- (hash
          head=(component 'lt-head'
            tableId=elementId
            table=table
            tableActions=tableActions
            tableClassNames=tableClassNames
            sharedOptions=sharedOptions
          )
          body=(component 'lt-svelte-body'
            tableId=elementId
            table=table
            tableActions=tableActions
            tableClassNames=tableClassNames
            sharedOptions=sharedOptions
          )
          foot=(component 'lt-foot'
            tableId=elementId
            table=table
            tableActions=tableActions
            tableClassNames=tableClassNames
            sharedOptions=sharedOptions
          )
        ) --}}
